# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
*/dist/*
/*.js
/*.js.map
/*.d.ts
/*.metadata.json
/*.ngfactory.ts
/*.ngstyle.ts
/$$_gendir/
*.angular/
/.ngfactory/
/.ngstyle/

# Express
/build/
/.env

# VSCode
.vscode/
*.code-workspace
.history/

# IDE-specific
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp

# Logs
logs/
*.log

# Miscellaneous
.DS_Store